In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./data/data_train.csv')
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.drop_duplicates(subset=['datetime'])

In [3]:
df

,datetime,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,telemetry_9,telemetry_10,telemetry_11,telemetry_12,telemetry_13,telemetry_14,telemetry_15
0,2019-03-01 00:01:00,0.737538,0.478367,0.292816,0.644016,0.919471,0.884814,0.754800,0.413295,0.471920,0.677801,0.687535,0.498407,NaN,NaN,NaN,NaN
1,2019-03-01 00:02:00,0.738406,0.478977,0.292816,0.648557,0.919471,0.887129,0.752977,0.413295,0.471920,0.677801,0.688926,0.498407,NaN,NaN,NaN,NaN
2,2019-03-01 00:03:00,0.738985,0.478977,0.292816,0.647164,0.919471,0.887129,0.755444,0.413295,0.471920,0.677801,0.690316,0.498407,NaN,NaN,NaN,NaN
3,2019-03-01 00:04:00,0.739563,0.478977,0.292816,0.636938,0.919471,0.887129,0.754800,0.413295,0.471920,0.678079,0.692820,0.498407,NaN,NaN,NaN,NaN
4,2019-03-01 00:05:00,0.740431,0.477119,0.292816,0.635834,0.919471,0.887707,0.754156,0.413295,0.471920,0.678357,0.695601,0.498407,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
319541,2019-10-07 19:54:00,0.716126,0.409256,0.316542,0.604638,0.919214,0.800036,0.741821,0.465318,0.464397,0.728682,0.728682,0.728682,NaN,NaN,NaN,NaN
319542,2019-10-07 19:55:00,0.710918,0.408751,0.316832,0.607323,0.919214,0.800615,0.742358,0.465318,0.464397,0.728682,0.728682,0.728682,NaN,NaN,NaN,NaN
319543,2019-10-07 19:56:00,0.704842,0.409621,0.316832,0.607274,0.919214,0.800615,0.742358,0.465318,0.462082,0.728682,0.728682,0.728682,NaN,NaN,NaN,NaN
319544,2019-10-07 19:57:00,0.697608,0.409000,0.316832,0.611888,0.919214,0.800615,0.742358,0.465318,0.462082,0.728682,0.728682,0.728682,NaN,NaN,NaN,NaN
319545,2019-10-07 19:58:00,0.691243,0.409233,0.316832,0.610702,0.919214,0.800615,0.742358,0.465318,0.462082,0.728682,0.728682,0.728682,NaN,NaN,NaN,NaN

In [4]:
df = df.resample('10min', on='datetime').min().reset_index()

In [5]:
df = df.interpolate(method='linear', limit_direction='forward')
end_time = df['datetime'].iloc[-1]k

In [8]:
df

,datetime,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,telemetry_9,telemetry_10,telemetry_11,telemetry_12,telemetry_13,telemetry_14,telemetry_15
0,2019-03-01 00:00:00,0.737538,0.477119,0.292816,0.633492,0.919471,0.884814,0.752977,0.391412,0.471920,0.677801,0.687535,0.498407,NaN,NaN,NaN,NaN
1,2019-03-01 00:10:00,0.742167,0.478653,0.291369,0.618222,0.919471,0.874398,0.752977,0.391412,0.471920,0.679748,0.691707,0.497295,NaN,NaN,NaN,NaN
2,2019-03-01 00:20:00,0.744193,0.478333,0.293974,0.639383,0.919471,0.876712,0.752977,0.357143,0.471920,0.681138,0.691707,0.497295,NaN,NaN,NaN,NaN
3,2019-03-01 00:30:00,0.739274,0.480319,0.294552,0.630411,0.919471,0.875844,0.752977,0.357143,0.478575,0.679748,0.680026,0.497017,NaN,NaN,NaN,NaN
4,2019-03-01 00:40:00,0.726832,0.480081,0.293105,0.639165,0.919471,0.867743,0.752977,0.392651,0.478575,0.678357,0.671682,0.496739,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31795,2019-10-07 19:10:00,0.712076,0.407937,0.313649,0.626759,0.919214,0.802930,0.741821,0.417011,0.454559,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719
31796,2019-10-07 19:20:00,0.713233,0.408109,0.310755,0.617599,0.919214,0.795407,0.742358,0.372419,0.454559,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719
31797,2019-10-07 19:30:00,0.733487,0.406509,0.310755,0.581368,0.919214,0.790198,0.742358,0.440958,0.447615,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719
31798,2019-10-07 19:40:00,0.745061,0.408321,0.311045,0.575059,0.919214,0.791935,0.742358,0.431874,0.447615,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719
31799,2019-10-07 19:50:00,0.691243,0.408751,0.313938,0.599405,0.919214,0.795696,0.741821,0.465318,0.462082,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719

In [9]:
tr = pd.read_csv('./data/target_train.csv')
tr['Дата'] = pd.to_datetime(tr['Дата'])
cur_time = tr['Дата'][0]

In [10]:
df = df[df['datetime'] >= cur_time]

In [11]:
df = df.reset_index(drop=True)

In [12]:
tr

                    Дата    target
0    2019-03-13 17:00:00  0.123711
1    2019-03-13 21:00:00  0.319588
2    2019-03-14 01:00:00  0.255155
3    2019-03-14 05:00:00  0.319588
4    2019-03-14 09:00:00  0.159794
...                  ...       ...
1768 2019-10-07 13:00:00  0.128866
1769 2019-10-07 15:00:00  0.170103
1770 2019-10-07 17:00:00  0.167526
1771 2019-10-07 19:00:00  0.180412
1772 2019-10-07 21:00:00  0.134021

[1773 rows x 2 columns]

In [13]:
tr = tr.resample('10min', on='Дата').min()
tr['interpolated'] = tr['target'].isna()
tr

                       target  interpolated
Дата
2019-03-13 17:00:00  0.123711         False
2019-03-13 17:10:00       NaN          True
2019-03-13 17:20:00       NaN          True
2019-03-13 17:30:00       NaN          True
2019-03-13 17:40:00       NaN          True
...                       ...           ...
2019-10-07 20:20:00       NaN          True
2019-10-07 20:30:00       NaN          True
2019-10-07 20:40:00       NaN          True
2019-10-07 20:50:00       NaN          True
2019-10-07 21:00:00  0.134021         False

[29977 rows x 2 columns]

In [14]:
tr = tr.interpolate(method='linear').reset_index()
tr

                     Дата    target  interpolated
0     2019-03-13 17:00:00  0.123711         False
1     2019-03-13 17:10:00  0.131873          True
2     2019-03-13 17:20:00  0.140034          True
3     2019-03-13 17:30:00  0.148196          True
4     2019-03-13 17:40:00  0.156357          True
...                   ...       ...           ...
29972 2019-10-07 20:20:00  0.149485          True
29973 2019-10-07 20:30:00  0.145619          True
29974 2019-10-07 20:40:00  0.141753          True
29975 2019-10-07 20:50:00  0.137887          True
29976 2019-10-07 21:00:00  0.134021         False

[29977 rows x 3 columns]

In [15]:
tr.rename(columns={'Дата': 'datetime'}, inplace=True)

In [16]:
tr = tr[tr['datetime'] <= end_time]
tr

                 datetime    target  interpolated
0     2019-03-13 17:00:00  0.123711         False
1     2019-03-13 17:10:00  0.131873          True
2     2019-03-13 17:20:00  0.140034          True
3     2019-03-13 17:30:00  0.148196          True
4     2019-03-13 17:40:00  0.156357          True
...                   ...       ...           ...
29965 2019-10-07 19:10:00  0.176546          True
29966 2019-10-07 19:20:00  0.172680          True
29967 2019-10-07 19:30:00  0.168814          True
29968 2019-10-07 19:40:00  0.164948          True
29969 2019-10-07 19:50:00  0.161082          True

[29970 rows x 3 columns]

In [17]:
new_ids = df.index
core_cols = ['interpolated']
df.loc[new_ids, core_cols] = tr.loc[new_ids, core_cols]
tr

                 datetime    target  interpolated
0     2019-03-13 17:00:00  0.123711         False
1     2019-03-13 17:10:00  0.131873          True
2     2019-03-13 17:20:00  0.140034          True
3     2019-03-13 17:30:00  0.148196          True
4     2019-03-13 17:40:00  0.156357          True
...                   ...       ...           ...
29965 2019-10-07 19:10:00  0.176546          True
29966 2019-10-07 19:20:00  0.172680          True
29967 2019-10-07 19:30:00  0.168814          True
29968 2019-10-07 19:40:00  0.164948          True
29969 2019-10-07 19:50:00  0.161082          True

[29970 rows x 3 columns]

In [18]:
df

,datetime,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,telemetry_9,telemetry_10,telemetry_11,telemetry_12,telemetry_13,telemetry_14,telemetry_15,interpolated
0,2019-03-13 17:00:00,0.786148,0.496793,0.304679,0.617704,0.919471,0.868900,0.752977,0.432287,0.472209,0.699495,0.753452,0.648041,0.245342,0.68,0.437500,0.217066,False
1,2019-03-13 17:10:00,0.787305,0.497651,0.304679,0.625573,0.919471,0.853275,0.752977,0.419488,0.470473,0.702276,0.761796,0.646928,0.235507,0.68,0.436553,0.218812,True
2,2019-03-13 17:20:00,0.785569,0.501467,0.303811,0.626470,0.919471,0.850093,0.752977,0.419488,0.470473,0.705057,0.770418,0.646372,0.225673,0.68,0.435606,0.220559,True
3,2019-03-13 17:30:00,0.783254,0.501791,0.302364,0.621216,0.919471,0.853854,0.752977,0.434765,0.467869,0.710620,0.784602,0.646650,0.215839,0.68,0.434659,0.222305,True
4,2019-03-13 17:40:00,0.781229,0.501635,0.303233,0.623029,0.919471,0.856458,0.752333,0.432287,0.467869,0.720354,0.769583,0.645816,0.206004,0.68,0.433712,0.224052,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29965,2019-10-07 19:10:00,0.712076,0.407937,0.313649,0.626759,0.919214,0.802930,0.741821,0.417011,0.454559,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719,True
29966,2019-10-07 19:20:00,0.713233,0.408109,0.310755,0.617599,0.919214,0.795407,0.742358,0.372419,0.454559,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719,True
29967,2019-10-07 19:30:00,0.733487,0.406509,0.310755,0.581368,0.919214,0.790198,0.742358,0.440958,0.447615,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719,True
29968,2019-10-07 19:40:00,0.745061,0.408321,0.311045,0.575059,0.919214,0.791935,0.742358,0.431874,0.447615,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719,True
29969,2019-10-07 19:50:00,0.691243,0.408751,0.313938,0.599405,0.919214,0.795696,0.741821,0.465318,0.462082,0.728682,0.728682,0.728682,0.732919,0.25,0.397727,0.640719,True

In [19]:
false_indices = df[df['interpolated'] == False].index
print(false_indices)

Index([    0,    24,    48,    72,    96,   120,   144,   156,   168,   180,
       ...
       29856, 29868, 29880, 29892, 29904, 29916, 29928, 29940, 29952, 29964],
      dtype='int64', length=1772)

In [20]:
df = df.reset_index(drop=True)

In [21]:
false_indices_y = tr[tr['interpolated'] == False].index
print(false_indices_y)

Index([    0,    24,    48,    72,    96,   120,   144,   156,   168,   180,
       ...
       29856, 29868, 29880, 29892, 29904, 29916, 29928, 29940, 29952, 29964],
      dtype='int64', length=1772)

In [22]:
df.loc[:, 'year'] = df['datetime'].dt.year
df.loc[:, 'month'] = df['datetime'].dt.month
df.loc[:, 'day'] = df['datetime'].dt.day
df.loc[:, 'hour'] = df['datetime'].dt.hour
df.loc[:, 'minute'] = df['datetime'].dt.minute

In [23]:
df

,datetime,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,...,telemetry_12,telemetry_13,telemetry_14,telemetry_15,interpolated,year,month,day,hour,minute
0,2019-03-13 17:00:00,0.786148,0.496793,0.304679,0.617704,0.919471,0.868900,0.752977,0.432287,0.472209,...,0.245342,0.68,0.437500,0.217066,False,2019,3,13,17,0
1,2019-03-13 17:10:00,0.787305,0.497651,0.304679,0.625573,0.919471,0.853275,0.752977,0.419488,0.470473,...,0.235507,0.68,0.436553,0.218812,True,2019,3,13,17,10
2,2019-03-13 17:20:00,0.785569,0.501467,0.303811,0.626470,0.919471,0.850093,0.752977,0.419488,0.470473,...,0.225673,0.68,0.435606,0.220559,True,2019,3,13,17,20
3,2019-03-13 17:30:00,0.783254,0.501791,0.302364,0.621216,0.919471,0.853854,0.752977,0.434765,0.467869,...,0.215839,0.68,0.434659,0.222305,True,2019,3,13,17,30
4,2019-03-13 17:40:00,0.781229,0.501635,0.303233,0.623029,0.919471,0.856458,0.752333,0.432287,0.467869,...,0.206004,0.68,0.433712,0.224052,True,2019,3,13,17,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29965,2019-10-07 19:10:00,0.712076,0.407937,0.313649,0.626759,0.919214,0.802930,0.741821,0.417011,0.454559,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,10
29966,2019-10-07 19:20:00,0.713233,0.408109,0.310755,0.617599,0.919214,0.795407,0.742358,0.372419,0.454559,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,20
29967,2019-10-07 19:30:00,0.733487,0.406509,0.310755,0.581368,0.919214,0.790198,0.742358,0.440958,0.447615,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,30
29968,2019-10-07 19:40:00,0.745061,0.408321,0.311045,0.575059,0.919214,0.791935,0.742358,0.431874,0.447615,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,40
29969,2019-10-07 19:50:00,0.691243,0.408751,0.313938,0.599405,0.919214,0.795696,0.741821,0.465318,0.462082,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,50

In [24]:
df.drop('datetime', axis=1, inplace=True)

In [25]:
df

,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,telemetry_9,...,telemetry_12,telemetry_13,telemetry_14,telemetry_15,interpolated,year,month,day,hour,minute
0,0.786148,0.496793,0.304679,0.617704,0.919471,0.868900,0.752977,0.432287,0.472209,0.699495,...,0.245342,0.68,0.437500,0.217066,False,2019,3,13,17,0
1,0.787305,0.497651,0.304679,0.625573,0.919471,0.853275,0.752977,0.419488,0.470473,0.702276,...,0.235507,0.68,0.436553,0.218812,True,2019,3,13,17,10
2,0.785569,0.501467,0.303811,0.626470,0.919471,0.850093,0.752977,0.419488,0.470473,0.705057,...,0.225673,0.68,0.435606,0.220559,True,2019,3,13,17,20
3,0.783254,0.501791,0.302364,0.621216,0.919471,0.853854,0.752977,0.434765,0.467869,0.710620,...,0.215839,0.68,0.434659,0.222305,True,2019,3,13,17,30
4,0.781229,0.501635,0.303233,0.623029,0.919471,0.856458,0.752333,0.432287,0.467869,0.720354,...,0.206004,0.68,0.433712,0.224052,True,2019,3,13,17,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29965,0.712076,0.407937,0.313649,0.626759,0.919214,0.802930,0.741821,0.417011,0.454559,0.728682,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,10
29966,0.713233,0.408109,0.310755,0.617599,0.919214,0.795407,0.742358,0.372419,0.454559,0.728682,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,20
29967,0.733487,0.406509,0.310755,0.581368,0.919214,0.790198,0.742358,0.440958,0.447615,0.728682,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,30
29968,0.745061,0.408321,0.311045,0.575059,0.919214,0.791935,0.742358,0.431874,0.447615,0.728682,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,40
29969,0.691243,0.408751,0.313938,0.599405,0.919214,0.795696,0.741821,0.465318,0.462082,0.728682,...,0.732919,0.25,0.397727,0.640719,True,2019,10,7,19,50

In [26]:
# # удаление признаков для улучшения модели
# df.drop('telemetry_0', axis=1, inplace=True)
# df.drop('telemetry_1', axis=1, inplace=True)
# df.drop('telemetry_3', axis=1, inplace=True)
# df.drop('telemetry_4', axis=1, inplace=True)
# df.drop('telemetry_5', axis=1, inplace=True)
# df.drop('telemetry_6', axis=1, inplace=True)
# df.drop('telemetry_7', axis=1, inplace=True)
# df.drop('telemetry_10', axis=1, inplace=True)
# df.drop('telemetry_11', axis=1, inplace=True)

In [27]:
df.head(10)

,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,telemetry_9,...,telemetry_12,telemetry_13,telemetry_14,telemetry_15,interpolated,year,month,day,hour,minute
0,0.786148,0.496793,0.304679,0.617704,0.919471,0.868900,0.752977,0.432287,0.472209,0.699495,...,0.245342,0.680000,0.437500,0.217066,False,2019,3,13,17,0
1,0.787305,0.497651,0.304679,0.625573,0.919471,0.853275,0.752977,0.419488,0.470473,0.702276,...,0.235507,0.680000,0.436553,0.218812,True,2019,3,13,17,10
2,0.785569,0.501467,0.303811,0.626470,0.919471,0.850093,0.752977,0.419488,0.470473,0.705057,...,0.225673,0.680000,0.435606,0.220559,True,2019,3,13,17,20
3,0.783254,0.501791,0.302364,0.621216,0.919471,0.853854,0.752977,0.434765,0.467869,0.710620,...,0.215839,0.680000,0.434659,0.222305,True,2019,3,13,17,30
4,0.781229,0.501635,0.303233,0.623029,0.919471,0.856458,0.752333,0.432287,0.467869,0.720354,...,0.206004,0.680000,0.433712,0.224052,True,2019,3,13,17,40
5,0.780939,0.501649,0.303233,0.628177,0.919471,0.853275,0.752977,0.432287,0.474235,0.728420,...,0.196170,0.680000,0.432765,0.225798,True,2019,3,13,17,50
6,0.780361,0.501244,0.302364,0.627035,0.919471,0.851829,0.752977,0.442197,0.474235,0.735651,...,0.186335,0.680000,0.431818,0.227545,True,2019,3,13,18,0
7,0.780361,0.501444,0.302364,0.624727,0.919471,0.855590,0.752977,0.434352,0.468737,0.739823,...,0.179607,0.674167,0.432765,0.236028,True,2019,3,13,18,10
8,0.776889,0.501100,0.302943,0.628087,0.919471,0.852118,0.752977,0.417837,0.468737,0.738433,...,0.172878,0.668333,0.433712,0.244511,True,2019,3,13,18,20
9,0.774574,0.501102,0.304101,0.626711,0.919471,0.851539,0.752977,0.417837,0.469316,0.737042,...,0.166149,0.662500,0.434659,0.252994,True,2019,3,13,18,30

In [28]:
tr.drop('datetime', axis=1, inplace=True)

/tmp/ipykernel_8364/1495790954.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr.drop('datetime', axis=1, inplace=True)

In [29]:
tr

         target  interpolated
0      0.123711         False
1      0.131873          True
2      0.140034          True
3      0.148196          True
4      0.156357          True
...         ...           ...
29965  0.176546          True
29966  0.172680          True
29967  0.168814          True
29968  0.164948          True
29969  0.161082          True

[29970 rows x 2 columns]

In [30]:
print(df.info())
print(tr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29970 entries, 0 to 29969
Data columns (total 22 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   telemetry_0   29970 non-null  float64
 1   telemetry_1   29970 non-null  float64
 2   telemetry_2   29970 non-null  float64
 3   telemetry_3   29970 non-null  float64
 4   telemetry_4   29970 non-null  float64
 5   telemetry_5   29970 non-null  float64
 6   telemetry_6   29970 non-null  float64
 7   telemetry_7   29970 non-null  float64
 8   telemetry_8   29970 non-null  float64
 9   telemetry_9   29970 non-null  float64
 10  telemetry_10  29970 non-null  float64
 11  telemetry_11  29970 non-null  float64
 12  telemetry_12  29970 non-null  float64
 13  telemetry_13  29970 non-null  float64
 14  telemetry_14  29970 non-null  float64
 15  telemetry_15  29970 non-null  float64
 16  interpolated  29970 non-null  object
 17  year          29970 non-null  int32
 18  month         29970 non-null  int32
 19  day           29970 non-null  int32
 20  hour          29970 non-null  int32
 21  minute        29970 non-null  int32
dtypes: float64(16), int32(5), object(1)
memory usage: 4.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
Index: 29970 entries, 0 to 29969
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   target        29970 non-null  float64
 1   interpolated  29970 non-null  bool
dtypes: bool(1), float64(1)
memory usage: 1.5 MB
None

In [31]:
len(df)

29970

In [32]:
# def create_sequences(X, y, time_steps):
#     Xs, ys = [], []
#     for i in range(len(X) - time_steps):
#         Xs.append(X[i:(i + time_steps)])
#         ys.append(y[(i + time_steps-1):(i + time_steps)])
#     return np.array(Xs), np.array(ys)

In [33]:
# time_steps = 10
# X_seq, y_seq = create_sequences(df, tr, time_steps)

In [34]:
# X_seq

In [35]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

X_train, X_test, y_train, y_test = train_test_split(df, tr, test_size=0.2, random_state=42)

In [36]:
X_train.drop('interpolated', axis=1, inplace=True)

In [37]:
X_test = X_test[X_test['interpolated'] != True]
X_test.drop('interpolated', axis=1, inplace=True)

In [38]:
X_test

,telemetry_0,telemetry_1,telemetry_2,telemetry_3,telemetry_4,telemetry_5,telemetry_6,telemetry_7,telemetry_8,telemetry_9,...,telemetry_11,telemetry_12,telemetry_13,telemetry_14,telemetry_15,year,month,day,hour,minute
28572,0.760107,0.494567,0.295999,0.634545,0.919471,0.891180,0.763488,0.355904,0.469027,0.728682,...,0.728682,0.537267,0.680,0.471591,0.453593,2019,9,28,3,0
25008,0.753741,0.484612,0.290791,0.626726,0.919471,0.723360,0.756087,0.376961,0.427072,0.430544,...,0.102073,0.440994,0.425,0.409091,0.327844,2019,9,3,9,0
11592,0.744193,0.489850,0.299182,0.635452,0.919471,0.826945,0.710715,0.297688,0.473077,0.357674,...,0.774590,0.310559,0.690,0.494318,0.482036,2019,6,2,5,0
25272,0.779782,0.488023,0.296578,0.652768,0.919471,0.716705,0.755444,0.432287,0.456296,0.382428,...,0.097345,0.475155,0.505,0.426136,0.224551,2019,9,5,5,0
11388,0.680537,0.485042,0.304390,0.654935,0.919471,0.787016,0.774643,0.324112,0.461214,0.561543,...,0.648319,0.590062,0.685,0.590909,0.347305,2019,5,31,19,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10272,0.751426,0.476481,0.307862,0.646737,0.919471,0.788173,0.720691,0.213047,0.465555,0.475045,...,0.666954,0.586957,0.360,0.488636,0.266467,2019,5,24,1,0
23568,0.767340,0.498516,0.287029,0.616208,0.919471,0.696451,0.720691,0.440132,0.447615,0.599924,...,0.499242,0.394410,0.565,0.607955,0.380240,2019,8,24,9,0
22152,0.784122,0.490772,0.284136,0.630638,0.919471,0.852118,0.741821,0.417424,0.444143,0.455019,...,0.684754,0.282609,0.855,0.386364,0.203593,2019,8,14,13,0
16668,0.778335,0.489763,0.291369,0.639614,0.919214,0.867743,0.746112,0.434352,0.435752,0.666397,...,0.466144,0.714286,0.525,0.500000,0.528443,2019,7,7,11,0
6552,0.748533,0.456639,0.306126,0.646960,0.919214,0.888575,0.763488,0.298514,0.460057,0.821593,...,0.664172,0.627329,0.460,0.397727,0.492515,2019,4,28,5,0

In [39]:
y_train.drop('interpolated', axis=1, inplace=True)
y_train

         target
20071  0.269652
24882  0.252577
23036  0.310137
17811  0.281572
29123  0.211138
...         ...
29802  0.190722
5390   0.173969
860    0.174399
15795  0.123711
23654  0.295962

[23976 rows x 1 columns]

In [40]:
y_test = y_test[y_test['interpolated'] != True]
y_test.drop('interpolated', axis=1, inplace=True)
y_test

         target
28572  0.265464
25008  0.226804
11592  0.329897
25272  0.149485
11388  0.381443
...         ...
10272  0.329897
23568  0.198454
22152  0.164948
16668  0.149485
6552   0.123711

[349 rows x 1 columns]

In [45]:
from sklearn.linear_model import LinearRegression

model = RandomForestRegressor()
model.fit(X_train, y_train)

/home/smile/.local/lib/python3.10/site-packages/sklearn/base.py:1474: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor()

In [55]:
import pickle

with open('model.pkl', 'wb') as file:
    # сохраняем модель в файл
    pickle.dump(model, file)

In [ ]:
loaded_model = joblib.load('model.pkl')

In [42]:
predictions = model.predict(X_test)

In [43]:
predict = pd.DataFrame(predictions, columns=['predict'])
predict

      predict
0    0.261061
1    0.231552
2    0.348537
3    0.165901
4    0.317189
..        ...
344  0.315053
345  0.209798
346  0.159235
347  0.166289
348  0.152238

[349 rows x 1 columns]

In [44]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, predictions)
print('Mean absolute Error:', mae)

Mean absolute Error: 0.020426555477028353